@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-dark : #eee;
  --primary:blueviolet
}
body{
  background-color:var(--bg-dark);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::selection{
  background-color: var(--primary);
  color:#fff;
}

::marker{
  background-image: url("/check.svg");
}

@layer base{
  .btn{
    @apply
    text-violet-700 px-6 md:px-12 py-3 rounded-3xl border-2 border-violet-700 hover:bg-violet-700 hover:text-white text-lg md:text-lg
  }
  .highlight-btn{
    @apply
    text-white px-10 py-3 rounded-3xl border-2 border-white

  }
}