@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-dark : #eee;
}
body{
  background-color:var(--bg-dark);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@layer base{
  .btn{
    @apply
    text-violet-700 px-4 py-3 rounded-3xl border-2 border-violet-700 hover:bg-violet-700 hover:text-white
  }
}